<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="ios-undo"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Exame Sangue</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <form #form="ngForm" (ngSubmit)="atualizar(form);" method="post">

    <ion-grid>
      <ion-row>

        <ion-col class="ion-text-center">
          <img src="{{imageFileBase64}}" (click)="seleccionarImagen()" class="back">

        </ion-col>
        <input #inputcamera type="file" accept="image/*" capture="camera" [hidden]=true />

      </ion-row>

    </ion-grid>
    <ion-grid>
      <ion-row>

        <ion-col>

          Gerador do exame :
          <ion-item lines="none">
            <ion-list>
              <ion-radio-group>

                <ion-item lines="none">
                  <ion-label>Atendimento</ion-label>
                  <ion-radio slot="start" [(ngModel)]='aten' name="aten" checked='{{aten}}' class="radio">
                  </ion-radio>
                </ion-item>

                <ion-item lines="none">
                  <ion-label>Paciente</ion-label>
                  <ion-radio slot="start" [(ngModel)]='pac' name="pac" checked='{{pac}}' value="paciente" class="radio">
                  </ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-item>

        </ion-col>
        <ion-col>
          Tipo do exame :
          <ion-item lines="none">
            <ion-list>
              <ion-radio-group>

                <ion-item lines="none">
                  <ion-label>Primeira vez</ion-label>
                  <ion-radio slot="start" [(ngModel)]='prim' name="prim" checked='{{prim}}' value="Primeira"
                    class="radio"></ion-radio>
                </ion-item>

                <ion-item lines="none">
                  <ion-label>Controle</ion-label>
                  <ion-radio slot="start" [(ngModel)]='con' name="con" checked='{{con}}' value="Controle" class="radio">
                  </ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-item>

        </ion-col>

      </ion-row>
    </ion-grid>


    <ion-label position="floating">Nome:</ion-label>
    <ion-input [(ngModel)]='Nome' disabled type="text" placeholder="Nome do paciente" name="Nome" required
      value="{{ Nome  }}">
    </ion-input>


    <ion-label position="floating">Sobrenome:</ion-label>
    <ion-input [(ngModel)]='SobreNome' disabled type="text" placeholder="Sobrenome do paciente " name="SobreNome"
      required value="{{ SobreNome  }}"></ion-input>

    <ion-label position="floating">CPF do paciente:</ion-label>
    <ion-input [(ngModel)]='CPF' disabled type="text" placeholder="CPF do paciente " name="CPF" required
      value="{{ CPF  }}">
    </ion-input>

    <ion-list>
      <ion-label position="floating">Sexo do paciente:</ion-label>
      <ion-select [(ngModel)]='Sexo' disabled interface="popover" type="text" name="Sexo" placeholder="Sexo do paciente"
        value="{{ Sexo }}">
        <ion-select-option *ngFor="let os of sexos">{{os.Sexo}}</ion-select-option>
      </ion-select>
    </ion-list>




    <ion-row>
      Dados analisados :
      <ion-item lines="none">
        <ion-list>
          <ion-radio-group [allowEmptySelection]=true (ionChange)='getVs($event)'>

            <ion-item lines="none">
              <ion-label>Vida sexual</ion-label>
              <ion-radio slot="start" [(ngModel)]='vs' name="vs" checked='{{vs}}' value="vs" class="radio"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group [allowEmptySelection]=true (ionChange)='getCol($event)'>
            <ion-item lines="none">
              <ion-label>Colesterol</ion-label>
              <ion-radio slot="start" [(ngModel)]='col' name="col" checked='{{col}}' value="col" class="radio">
              </ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group [allowEmptySelection]=true (ionChange)='getHdl($event)'>
            <ion-item lines="none">
              <ion-label>HDL</ion-label>
              <ion-radio slot="start" [(ngModel)]='hdl' name="hdl" checked='{{hdl}}' value="hdl" class="radio">
              </ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group [allowEmptySelection]=true (ionChange)='getLdl($event)'>
            <ion-item lines="none">
              <ion-label>LDL</ion-label>
              <ion-radio slot="start" [(ngModel)]='ldl' name="ldl" checked='{{ldl}}' value="ldl" class="radio">
              </ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-radio-group [allowEmptySelection]=true (ionChange)='getTri($event)'>
            <ion-item lines="none">
              <ion-label>Triglicerídeos</ion-label>
              <ion-radio slot="start" [(ngModel)]='tri' name="tri" checked='{{tri}}' value="tri" class="radio">
              </ion-radio>
            </ion-item>
          </ion-radio-group>


          <ion-radio-group [allowEmptySelection]=true (ionChange)='getPsa($event)'>
            <ion-item lines="none">
              <ion-label>PSA</ion-label>
              <ion-radio slot="start" [(ngModel)]='psa' name="psa" checked='{{psa}}' value="psa" class="radio">
              </ion-radio>
            </ion-item>
          </ion-radio-group>

        </ion-list>
      </ion-item>
    </ion-row>




    <ion-grid>
      <ion-label position="floating">Coleta:</ion-label>
      <ion-row>

        <ion-col>

          <ion-input [(ngModel)]='ca' type="number" placeholder="CA" name="ca" required value="{{ ca  }}">
          </ion-input>
          <ion-input [(ngModel)]='Glicemia' type="number" placeholder="Glicemia" name="Glicemia" required
            value="{{ Glicemia  }}">
          </ion-input>
        </ion-col>

        <ion-col>
          <ion-input [(ngModel)]='ps' type="number" placeholder="Pressão Sistólica" name="ps" required
            value="{{ ps  }}">
          </ion-input>
          <ion-input [(ngModel)]='pd' type="number" placeholder="Pressão Diastólica" name="pd" required
            value="{{ pd  }}">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>



    <div class="ion-text-center">

      <ion-button type="submit" [disabled]="!form.valid" class="at_but">Atualizar</ion-button>
    </div>

  </form>


</ion-content>