<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{subtitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="sincronizarAtividadeColetiva()">
        <ion-icon ios="ios-sync" md="md-sync"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="newAtividadeColetiva()">
        <ion-icon ios="ios-add" md="md-add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- #################### Listagem da informação ##################### -->
  <div>
    <ion-list *ngFor="let item of collectionFilter; let i = index">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center"
            >CNS Profesional:{{ item.cns_profissional }}</ion-card-title
          >
        </ion-card-header>
        <ion-card-content>
          <ion-item lines="none">
            <ion-label>
              <p><strong>Data :</strong>{{ item.data_cadastro }}</p>
            </ion-label>
            <ion-buttons>
              <!--ion-button (click)="delete(item)" slot="end" fill="clear" shape="round" [disabled]="item.usuario != CodigoUsuario">
                             <ion-icon name="trash" color="secondary"></ion-icon>
                           </ion-button> -->
              <ion-button (click)="delete()">
                <ion-icon slot="icon-only" name="md-trash"> </ion-icon>
              </ion-button>
              <ion-button
                (click)="editar(item)"
                slot="end"
                fill="clear"
                shape="round"
              >
                <ion-icon
                  name="create"
                  ios="ios-create"
                  md="md-create"
                ></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-item *ngIf="collectionFilter?.length === 0">
        <ion-label class="ion-text-center">
          Nenhum informação para mostrar
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
