<!--<ion-header>
  <ion-toolbar>
    <ion-title>Bem-Vindos!!!</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content center text-center (click)="closeModal()">
  <ion-row justify-content-center align-items-center style='height: 70%'>
      <ion-col><img src="/assets/imgs/logo1.png" width="250px" height="250px"></ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
      <h3 text-center class="title" autofocus>PRONTO BOOK</h3>
  </ion-row>   
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row padding>
      <ion-col center text-center>
        <p>Carregando</p>
      </ion-col>
      <ion-col center text-center>
        <ion-spinner>spinnerLoading</ion-spinner>
      </ion-col>
      <ion-col center text-right><img src="/assets/imgs/logo1.png" width="40px" height="40px"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>