<ion-header>
    <ion-toolbar>
        <ion-title>Ficha Complementar </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong text-center>FICHA COMPLEMENTAR</strong>
        <br>
        <h6></h6>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form #form="ngForm" name="frmBasic">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="8"
                   size-md="6"
                   size-lg="4"
                   offsetSm="2"
                   offsetMd="3"
                   offsetLg="4"
                   class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">Latitude</ion-label>
              <ion-input type="text"
                         name="latitude"
                         disabled></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-sm="8"
                   size-md="6"
                   size-lg="4"
                   offsetSm="2"
                   offsetMd="3"
                   offsetLg="4"
                   class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">Longitude</ion-label>
              <ion-input type="text"
                         name="longitude"
                         disabled></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-sm="8"
                   size-md="6"
                   size-lg="4"
                   offsetSm="2"
                   offsetMd="3"
                   offsetLg="4"
                   class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">
                CNS do profissional
              </ion-label>
              <ion-input type="text"
                         name="cns_profissional"
                         required>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-sm="8"
                   size-md="6"
                   size-lg="4"
                   offsetSm="2"
                   offsetMd="3"
                   offsetLg="4"
                   class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">CBO</ion-label>
              <ion-input type="text" name="cbo" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-sm="8" size-md="6" size-lg="4" offsetSm="2" offsetMd="3" offsetLg="4" class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">CNES</ion-label>
              <ion-input type="text" name="cnes" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="8" size-md="6" size-lg="4" offsetSm="2" offsetMd="3" offsetLg="4" class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">INE</ion-label>
              <ion-input type="text"  name="ine" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-sm="8" size-md="6" size-lg="4" offsetSm="2" offsetMd="3" offsetLg="4" class="ion-align-self-center">
            <ion-item>
              <ion-label position="floating">Data</ion-label>
              <ion-datetime name="data_cadastro" display-format="DD/MMMM/YYYY"
                            cancelText="Desistir" doneText="Confirmar" required placeholder=""
                            monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
                            dayNames="Domingo, Segunda-Feira, Terça-Feira, Quanta-Feira, Quinta-Feira, Sábado" value="2019-10-04">
              </ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </mat-expansion-panel>
    <!--RESULTADOS DE EXAMES*-->
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong text-center>RESULTADOS DE EXAMES*</strong>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <form>
            <ion-grid style="box-shadow: 0px 14px 25px gray;border-radius: 5px;">
                <ion-col style="border-bottom-color: gray ;border-width: .01em;">
                    <ion-row>
                        <ion-label style="display: flex;justify-content: center; width: 100%;">
                            Test do olhinho (reflexo vermelho)
                        </ion-label>
                    </ion-row>
                </ion-col>

                <ion-col>
                    <ion-row style="display: flex;justify-content: center; width: 100%;">
                        <ion-item style="display: flex;justify-content: center; width: 100%;">
                            <ion-label style="display: flex;justify-content: start; width: 100%;" position="floating">
                                Data de realizacao
                            </ion-label>
                            <ion-datetime style="display: flex;justify-content: center; width: 100%;"
                                          name="data_nascimento"
                                          display-format="DD/MMMM/YYYY"
                                          cancelText="Desistir"
                                          doneText="Confirmar"
                                          placeholder="Data de nascimento"
                                          monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
                                          dayNames="Domingo, Segunda-Feira, Terça-Feira, Quanta-Feira, Quinta-Feira, Sábado"
                                          value="2019-10-04">
                            </ion-datetime>
                        </ion-item>
                    </ion-row>

                    <ion-row style="display: flex;justify-content: center; width: 100%;">
                        <ion-item style="display: flex;justify-content: center; width: 100%;">
                            <ion-label style="display: flex;justify-content: start; width: 100%;" position="stacked">
                                Resultado
                            </ion-label>
                            <ion-select style="display: flex;justify-content: center; width: 100%;"
                                        [(ngModel)]="this.resultado"
                                        (ionChange)='changeSelect("resultado", $event)'
                                        interface="popover"
                                        placeholder="Não informado"
                                        required>
                                <ion-select-option *ngFor="let option of resultado_list" value="{{option}}">
                                    {{option}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-row>
                </ion-col>
            </ion-grid>

            <ion-grid style="box-shadow: 0px 14px 25px gray;border-radius: 5px;">
                <ion-col style="border-bottom-color: gray ;border-width: .01em;">
                    <ion-row>
                        <ion-label style="display: flex;justify-content: center; width: 100%;">
                            Exame de fundo de olho (02.11.06.010-0 - Fundoscopia)
                        </ion-label>
                    </ion-row>
                </ion-col>
                <ion-col>
                    <ion-row style="display: flex;justify-content: center; width: 100%;">
                        <ion-item style="display: flex;justify-content: center; width: 100%;">
                            <ion-label style="display: flex;justify-content: start; width: 100%;" position="floating">
                                Data de realizacao
                            </ion-label>
                            <ion-datetime style="display: flex;justify-content: center; width: 100%;"
                                          name="data_nascimento"
                                          display-format="DD/MMMM/YYYY"
                                          cancelText="Desistir"
                                          doneText="Confirmar"
                                          placeholder="Data de nascimento"
                                          monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
                                          dayNames="Domingo, Segunda-Feira, Terça-Feira, Quanta-Feira, Quinta-Feira, Sábado"
                                          value="2019-10-04">
                            </ion-datetime>
                        </ion-item>
                    </ion-row>

                    <ion-row style="display: flex;justify-content: center; width: 100%;">
                        <ion-item style="display: flex;justify-content: center; width: 100%;">
                            <ion-label style="display: flex;justify-content: start; width: 100%;" position="stacked">
                                Resultado
                            </ion-label>
                            <ion-select style="display: flex;justify-content: center; width: 100%;"
                                        [(ngModel)]="this.resultado"
                                        (ionChange)='changeSelect("resultado", $event)'
                                        interface="popover"
                                        placeholder="Não informado"
                                        required>
                                <ion-select-option *ngFor="let option of resultado_list" value="{{option}}">
                                    {{option}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-row>
                </ion-col>
            </ion-grid>

            <ion-grid style="box-shadow: 0px 14px 25px gray;border-radius: 5px;">
                <ion-col style="border-bottom-color: gray ;border-width: .01em;">
                    <ion-row>
                        <ion-label style="display: flex;justify-content: center; width: 100%;">
                            Teste da orelhinha - PEATE (02.11.07.027-0 - Potencial evocado auditivo para triagem
                            auditiva)
                        </ion-label>
                    </ion-row>
                </ion-col>
                <ion-col>
                    <ion-row style="display: flex;justify-content: center; width: 100%;">
                        <ion-item style="display: flex;justify-content: center; width: 100%;">
                            <ion-label style="display: flex;justify-content: start; width: 100%;" position="floating">
                                Data de realizacao
                            </ion-label>
                            <ion-datetime style="display: flex;justify-content: center; width: 100%;"
                                          name="data_nascimento"
                                          display-format="DD/MMMM/YYYY"
                                          cancelText="Desistir"
                                          doneText="Confirmar"
                                          placeholder="Data de nascimento"
                                          monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
                                          dayNames="Domingo, Segunda-Feira, Terça-Feira, Quanta-Feira, Quinta-Feira, Sábado"
                                          value="2019-10-04">
                            </ion-datetime>
                        </ion-item>
                    </ion-row>

                    <ion-row style="display: flex;justify-content: center; width: 100%;">
                        <ion-item style="display: flex;justify-content: center; width: 100%;">
                            <ion-label style="display: flex;justify-content: start; width: 100%;" position="stacked">
                                Resultado
                            </ion-label>
                            <ion-select style="display: flex;justify-content: center; width: 100%;"
                                        [(ngModel)]="this.resultado"
                                        (ionChange)='changeSelect("resultado", $event)'
                                        interface="popover"
                                        placeholder="Não informado"
                                        required>
                                <ion-select-option *ngFor="let option of resultado_list" value="{{option}}">
                                    {{option}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-row>
                </ion-col>
            </ion-grid>

            <ion-grid style="box-shadow: 0px 14px 25px gray;border-radius: 5px;">
                <ion-col style="border-bottom-color: gray ;border-width: .01em;">
                    <ion-row>
                        <ion-label style="display: flex;justify-content: center; width: 100%;">
                            US Transfontanela (02.05.02.017-8 - Ultrassonografia transfontanela)
                        </ion-label>
                    </ion-row>
                </ion-col>
                <ion-col>
                    <ion-row style="display: flex;justify-content: center; width: 100%;">
                        <ion-item style="display: flex;justify-content: center; width: 100%;">
                            <ion-label style="display: flex;justify-content: start; width: 100%;" position="floating">
                                Data de realizacao
                            </ion-label>
                            <ion-datetime style="display: flex;justify-content: center; width: 100%;"
                                          name="data_nascimento"
                                          display-format="DD/MMMM/YYYY"
                                          cancelText="Desistir"
                                          doneText="Confirmar"
                                          placeholder="Data de nascimento"
                                          monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
                                          dayNames="Domingo, Segunda-Feira, Terça-Feira, Quanta-Feira, Quinta-Feira, Sábado"
                                          value="2019-10-04">
                            </ion-datetime>
                        </ion-item>
                    </ion-row>

                    <ion-row style="display: flex;justify-content: center; width: 100%;">
                        <ion-item style="display: flex;justify-content: center; width: 100%;">
                            <ion-label style="display: flex;justify-content: start; width: 100%;" position="stacked">
                                Resultado
                            </ion-label>
                            <ion-select style="display: flex;justify-content: center; width: 100%;"
                                        [(ngModel)]="this.resultado"
                                        (ionChange)='changeSelect("resultado", $event)'
                                        interface="popover"
                                        placeholder="Não informado"
                                        required>
                                <ion-select-option *ngFor="let option of resultado_list" value="{{option}}">
                                    {{option}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-row>
                </ion-col>
            </ion-grid>

            <ion-grid style="box-shadow: 0px 14px 25px gray;border-radius: 5px;">
                <ion-col style="border-bottom-color: gray ;border-width: .01em;">
                    <ion-row>
                        <ion-label style="display: flex;justify-content: center; width: 100%;">
                            Tomografia computadorizada(02.06.01.007-9 - Tomografia computadorizada do cranio)
                        </ion-label>
                    </ion-row>
                </ion-col>
                <ion-col>
                    <ion-row style="display: flex;justify-content: center; width: 100%;">
                        <ion-item style="display: flex;justify-content: center; width: 100%;">
                            <ion-label style="display: flex;justify-content: start; width: 100%;" position="floating">
                                Data de realizacao
                            </ion-label>
                            <ion-datetime style="display: flex;justify-content: center; width: 100%;"
                                          name="data_nascimento"
                                          display-format="DD/MMMM/YYYY"
                                          cancelText="Desistir"
                                          doneText="Confirmar"
                                          placeholder="Data de nascimento"
                                          monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
                                          dayNames="Domingo, Segunda-Feira, Terça-Feira, Quanta-Feira, Quinta-Feira, Sábado"
                                          value="2019-10-04">
                            </ion-datetime>
                        </ion-item>
                    </ion-row>

                    <ion-row style="display: flex;justify-content: center; width: 100%;">
                        <ion-item style="display: flex;justify-content: center; width: 100%;">
                            <ion-label style="display: flex;justify-content: start; width: 100%;" position="stacked">
                                Resultado
                            </ion-label>
                            <ion-select style="display: flex;justify-content: center; width: 100%;"
                                        [(ngModel)]="this.resultado"
                                        (ionChange)='changeSelect("resultado", $event)'
                                        interface="popover"
                                        placeholder="Não informado"
                                        required>
                                <ion-select-option *ngFor="let option of resultado_list" value="{{option}}">
                                    {{option}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-row>
                </ion-col>
            </ion-grid>

            <ion-grid style="box-shadow: 0px 14px 25px gray;border-radius: 5px;">
                <ion-col style="border-bottom-color: gray ;border-width: .01em;">
                    <ion-row>
                        <ion-label style="display: flex;justify-content: center; width: 100%;">
                            Ressonancia magnetica(02.07.01.006-4 - Ressonancia magnetica de cranio)
                        </ion-label>
                    </ion-row>
                </ion-col>
                <ion-col>
                    <ion-row style="display: flex;justify-content: center; width: 100%;">
                        <ion-item style="display: flex;justify-content: center; width: 100%;">
                            <ion-label style="display: flex;justify-content: start; width: 100%;" position="floating">
                                Data de realizacao
                            </ion-label>
                            <ion-datetime style="display: flex;justify-content: center; width: 100%;"
                                          name="data_nascimento"
                                          display-format="DD/MMMM/YYYY"
                                          cancelText="Desistir"
                                          doneText="Confirmar"
                                          placeholder="Data de nascimento"
                                          monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
                                          dayNames="Domingo, Segunda-Feira, Terça-Feira, Quanta-Feira, Quinta-Feira, Sábado"
                                          value="2019-10-04">
                            </ion-datetime>
                        </ion-item>
                    </ion-row>

                    <ion-row style="display: flex;justify-content: center; width: 100%;">
                        <ion-item style="display: flex;justify-content: center; width: 100%;">
                            <ion-label style="display: flex;justify-content: start; width: 100%;" position="stacked">
                                Resultado
                            </ion-label>
                            <ion-select style="display: flex;justify-content: center; width: 100%;"
                                        [(ngModel)]="this.resultado"
                                        (ionChange)='changeSelect("resultado", $event)'
                                        interface="popover"
                                        placeholder="Não informado"
                                        required>
                                <ion-select-option *ngFor="let option of resultado_list" value="{{option}}">
                                    {{option}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-row>
                </ion-col>
            </ion-grid>
        </form>
    </mat-expansion-panel>
    <div fxFlex="100" class="mt-3 p-2" fxLayoutAlign="space-between center">
        <ion-button type="submit" expand="block" color="secondary" (click)="salvar()">
            Salvar
        </ion-button>
        <ion-button type="submit" expand="block" color="secondary">
            Cancelar
        </ion-button>

    </div>
</ion-content>
