ion-header{

    --ion-background-color:#589191;
    
}

ion-title{
    color: rgb(253, 253, 253);
    
}

.header{
    background-color:#7CBBBA;
    color: rgb(253, 253, 253);
    font-size: 20px;
    
}