.button-success{
  --background:  #7CBBBA;
  --background-hover:#589191;
}

.expand-arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    ion-icon {
      font-size: 44px;
    }
  }




