<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="ios-undo"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lista de compromissos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #form="ngForm" method="post">
    <div *ngFor="let sa of dados; let i =index ">
      <ion-card id="{{sa.CPF}}" class="card">
        <ion-card-header>
          <ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col>
                  {{sa.Nome}} {{sa.Sobrenome}}
                </ion-col>
                <ion-col>
                  <ion-icon name="md-close-circle" type="submit" (click)="cancelar(sa.CPF)" class="trash"></ion-icon>
                  <ion-icon name="md-clock" type="submit" (click)="naocumpridas(sa.CPF)" class="clock"></ion-icon>
                  <ion-icon name="md-checkmark-circle-outline" type="submit" (click)="atualizar(sa.CPF)" class="check">
                  </ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div >

            <ion-grid>
              <ion-row>
                <ion-col>

                  <ion-item class="roww" lines="none">
                    <ion-label>Espacialidade:</ion-label>
                    {{sa.Especialidades}}
                  </ion-item>

                  <ion-item class="roww" lines="none">
                    <ion-label>Hospital:</ion-label>
                    {{sa.Hospitais}}
                  </ion-item>

                  <ion-item class="roww" lines="none">
                    <ion-label>Data:</ion-label>
                    {{sa.DataDoAtendimento}}
                  </ion-item>


                  <ion-item [hidden]="ishidden" class="roww" lines="none">
                    <ion-label>Sexo:</ion-label>
                    {{sa.Sexo}}
                  </ion-item>

                  <ion-item [hidden]="ishidden" class="roww" lines="none">
                    <ion-label>CPF:</ion-label>
                    {{sa.CPF}}
                  </ion-item>

                  <ion-item [hidden]="ishidden" class="roww" lines="none">
                    <ion-label>Doutor:</ion-label>
                    {{sa.Doutor}}
                  </ion-item>

                  <div class="expand-arrow-container" (click)="expandFazenda()">
                    <ion-icon name="ios-arrow-dropdown-circle" *ngIf="ishidden"></ion-icon>
                    <ion-icon name="ios-arrow-dropup-circle" *ngIf="!ishidden"></ion-icon>
                  </div>


                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-card-content>
      </ion-card>
    </div>


  </form>
</ion-content>


<!--<ion-button type="submit"  (click)="delete(sa.code)"   expand="full" class="at_but">delete</ion-button>-->